* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.container {
    margin: 30px auto;
}

.line {
    color: black;
    height: 1px;
    background-color: black;
}

.btn {
    margin-top: 10px;
}